<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<package name="com.noshow.vo"/>
	</typeAliases>

	<!-- mapper 등록 -->
	<mappers>
		<mapper resource="com/noshow/config/mybatis/mapper/memberMapper.xml"/>
		<mapper resource="com/noshow/config/mybatis/mapper/ownerMemberMapper.xml"/>
		<mapper resource="com/noshow/config/mybatis/mapper/menuMapper.xml"/>
	</mappers>
	
</configuration>