<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noshow.config.mybatis.mapper.boardMapper">

	<!-- 기본 sql -->
	<sql id ="board-column-sql">
		board_num, board_subject, board_text, board_views, board_time, member_id
	</sql>

	<!--  사용자 조회 기본 sql -->
	<sql id="board-select-sql">
		select <include refid="board-column-sql"/>
		from board
	</sql>
	
	<!-- resultMap 등록 -->
	<resultMap type="Board" id="board-resultmap">
		<id column="BOARD_NUM" property="boardNum"/>
		<result column="BOARD_SUBJECT" property="boardSubject"/>
		<result column="BOARD_TEXT" property="boardText"/>
		<result column="BOARD_VIEWS" property="boardViews"/>
		<result column="BOARD_TIME" property="boardTime"/>
		<result column="MEMBER_ID" property="memberId"/>								
	</resultMap>
	
	
	<!-- 글 등록 -->
	<insert id="insertBoard" parameterType="Board">
		insert into board(board_num, board_subject, board_text, board_time, member_id)
		values(board_num_seq.NEXTVAL, #{boardSubject}, #{boardText}, sysdate, #{memberId})
	</insert>


	<!--  글 수정  -->
	<update id="updateBoard" parameterType="Board">
		update board
		<set>
			<if test="boardSubject != null"> board_subject = #{boardSubject},</if>
			<if test="board_text != null"> board_text = #{boardText},</if>
			<if test="board_views != null"> board_views = #{boardViews},</if>
			<if test="board_time != null"> board_time = sysdate,</if>
			<if test="member_id != null"> member_id = memberId</if>			
		</set>
		where board_num = #{boardNum}
	</update>
	
	<!-- 전체 조회 -->
	<select id="boardList" resultMap="board-resultmap">
		<include refid="board-select-sql"/>
	</select>
	
	<!-- 글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		delete from board
		where board_num = #{boardNum}
	</delete> 

	
</mapper>