<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noshow.config.mybatis.mapper.orderTableMapper">

	<sql id="select-orderTable">
		SELECT	table_seq,
				res_num
		FROM	order_table
	</sql>
	
	<sql id="select-orderTable-join-Table">
		SELECT	o.table_seq,
				o.res_num,
				t.table_num,
				t.x_location,
				t.y_location,
				t.business_id
		FROM	order_table o, table_ t
	</sql>
	
	<resultMap type="table" id="table_resultmap">
		<result column="table_seq" property="tableSeq"/>
		<result column="table_num" property="tableNum"/>
		<result column="x_location" property="xLocation"/>
		<result column="y_location" property="yLocation"/>
		<result column="business_id" property="businessId"/>
	</resultMap>
	
	<resultMap type="orderTable" id="orderTable-resultmap">
		<id column="table_Seq" property="tableSeq"/>
		<result column="res_Num" property="resNum"/>
	</resultMap>
	
	<resultMap type="orderTable" id="orderTable-join-resultmap">
		<id column="table_seq" property="tableSeq"/>
		<result column="res_num" property="resNum"/>
		<collection property="table" resultMap="table_resultmap"/>
	</resultMap>
	
	<!-- INSERT -->
	<insert id="insertOrderTable" parameterType="orderTable">
		INSERT INTO order_table VALUES
		(#{tableSeq}, #{resNum})
	</insert>
	
	<!-- UPDATE -->
	<update id="updateOrderTableByResNum" parameterType="map">
		UPDATE	order_table
		SET		table_seq = #{afterTable.tableSeq}
		WHERE	res_num = #{beforeTable.resNum}
		AND		table_seq = #{beforeTable.tableSeq}
	</update>
	
	<!-- DELETE -->
	<delete id="deleteOrderTableByResNum" parameterType="_int">
		DELETE
		FROM	order_table
		WHERE	res_num = #{value}
	</delete>
	
	<!-- SELECT -->
	<select id="selectOrderTableByResNum" parameterType="_int" resultMap="orderTable-join-resultmap">
		<include refid="select-orderTable-join-Table"/>
		WHERE	o.table_seq = t.table_seq
		AND		o.res_num = #{value}
	</select>

</mapper>