<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noshow.config.mybatis.mapper.ownerMemberMapper">

	<sql id="restaurant-column-sql">
		BUSINESS_ID, RT_HOLIDAY, RT_TERM, RT_FIELD, RT_NUM, RT_NAME, RT_TEL, RT_OPEN, RT_CLOSE, RT_PICTURE, RT_ADDRESS, RT_CAPACITY, RT_DEPOSIT
	</sql>
	
	<sql id="rtCode-column-sql">
		CODE_NUM, CODE_VAL, CODE_PART
	</sql>
	
	<resultMap type="Restaurant" id="restaurant-resultmap">
		<id column="BUSINESS_ID" property="businessId" />
		<result column="RT_NUM" property="rtNum" />
		<result column="RT_NAME" property="rtName" />
		<result column="RT_TEL" property="rtTel" />
		<result column="RT_FIELD" property="rtField" />
		<result column="RT_HOLIDAY" property="rtHoliday" />
		<result column="RT_OPEN" property="rtOpen" />
		<result column="RT_CLOSE" property="rtClose" />
		<result column="RT_TERM" property="rtTerm" />
		<result column="RT_PICTURE" property="rtPicture" />
		<result column="RT_ADDRESS" property="rtAddress" />
		<result column="RT_CAPACITY" property="rtCapacity" />
		<result column="RT_DEPOSIT" property="rtDeposit" />
	</resultMap>

	<resultMap type="RtCode" id="rtcode-resultmap">
		<id column="CODE_NUM" property="codeNum"/>
		<result column="CODE_VAL" property="codeVal"/>
		<result column="CODE_PART" property="codePart"/>
	</resultMap>
	
	<insert id="insertRestaurant" parameterType="Restaurant">
		INSERT INTO restaurant(<include refid="restaurant-column-sql" />)
		VALUES (#{businessId}, #{rtHoliday}, #{rtTerm}, #{rtField}, #{rtNum}, #{rtName}, #{rtTel}, to_date(#{rtOpen}, 'hh24:mi'), to_date(#{rtClose},'hh24:mi'),
				#{rtPicture}, #{rtAddress}, #{rtCapacity}, #{rtDeposit})
	</insert>
	

	<select id="selectHolidayByCode" resultMap="rtcode-resultmap">
		select <include refid="rtCode-column-sql"/>
		from RT_CODE 
		where CODE_PART = '요일' order by code_num
	</select>

	<select id="selectTermByCode" resultMap="rtcode-resultmap">
		select <include refid="rtCode-column-sql"/>
		from RT_CODE 
		where CODE_PART = '이용시간' order by code_num 
	</select>

	<select id="selectFieldByCode" resultMap="rtcode-resultmap">
		select <include refid="rtCode-column-sql"/>
		from RT_CODE
		where CODE_PART = '업종' order by code_num
	</select>

	
<!-- 	<update id="updateRestaurant" parameterType="restaurant">
		update restaurant
		<set>
			<if test="rtNum != null"> rt_num = #{rtNum}, </if>
			<if test="rtName != null"> rt_name = #{rtName}, </if>
			<if test="rtTel != null"> rt_tel = #{rtTel}, </if>
			<if test="rtField != null"> rt_field = #{rtField}, </if>
			<if test="rtHoliday != null"> rt_holiday = #{rtHoliday}, </if>
			<if test="rtOpen != null"> rt_open = to_date(#{rtOpen}, 'hh24 : mi'), </if>
			<if test="rtClose != null"> rt_close = to_date(#{rtClose},'hh24 : mi'), </if>
			<if test="rtTerm != null"> rt_term = #{rtTerm}, </if>
			<if test="rtPicture != null"> rt_picture = #{rtPicture}, </if>
			<if test="rtAddress != null"> rt_address = #{rtAddress}, </if>														
			<if test="rtCapacity != null"> rt_capacity = #{rtCapacity}, </if>
			<if test="rtDeposit != null"> rt_deposit = #{rtDeposit} </if>	
		</set>
		where business_id = #{businessId}
	</update>
	
	<delete id="deleteRestaurant" parameterType="Restaurant"> 
		delete from restaurant 
		where business_id = #{businessId} 
	</delete> -->


</mapper>